<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ECMAScript2015/サンプル</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="modal-flag"></div>

<header class="nav-bar">
  <nav class="container">
    <main class="row">
      <section class="col-sx-12">タイトル</section>
    </main>
  </nav>
</header>


<main class="ModalTest">
  <section class="modal-title">モーダルです</section>
  <section class="modal-main">ここにテキストが入ります。</section>
  <section class="modal-check">
    <buttom class="ok">はい</buttom>
    <buttom class="ng">いいえ</buttom>
  </section>
</main>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>

