<main class="container">
  <article class="row">
    <from>
      <section class="col-xs-2"></section>

      <section class="col-xs-8">
        <div class="input-field col-xs-12">
          <label for="name" class="col-xs-2 form-label">名前</label>
          <input type="text" id="name" class="col-xs-10 form-input" data-validation="name"/>
        </div>

        <div class="input-field col-xs-12">
          <label for="kana" class="col-xs-2 form-label">カナ</label>
          <input type="text" id="kana" class="col-xs-10 form-input"/>
        </div>

        <div class="input-field col-xs-12">
          <label for="tel" class="col-xs-2 form-label">電話番号</label>
          <input type="tel" id="tel" class="col-xs-10 form-input"/>
        </div>

        <div class="input-field col-xs-12">
          <label for="mail" class="col-xs-2 form-label">メールアドレス</label>
          <input type="email" id="mail" class="col-xs-10 form-input"/>
        </div>

        <div class="input-field col-xs-12">
          <label for="postcode" class="col-xs-2 form-label">郵便番号</label>
          <input type="nunber" id="postcode" class="col-xs-10 form-input"/>
        </div>

        <div class="input-field col-xs-12">
          <label for="address" class="col-xs-2 form-label">住所</label>
          <input type="text" id="address" class="col-xs-10 form-input"/>
        </div>

        <div class="input-field col-xs-12">
          <label for="sex" class="col-xs-2 form-label">性別</label>
          <input type="text" id="sex" class="col-xs-10 form-input"/>
        </div>

        <div class="input-field col-xs-12">
          <label for="msg" class="col-xs-2 form-label">Message</label>
          <textarea id="msg" class="col-xs-10 form-input"></textarea>
        </div>

      </section>

      <section class="col-cx-offset-2"></section>
    </form>
  </article>
</main>
