html {
  font-size: 62.5%;
}

body {
  background: #FAF5EB;
}

.clearfix {
  content: "";
  clear: both;
  display: block;
}

.row {
  @extend .clearfix;
}

.error {
  border: 1px solid red!important;
}

input:focus {
  border: 1px solid #ccc;
  outline: 0;
}

button[type="reset"],button[type="submit"] {
  &:focus {
    border: none!important;
    outline: 0!important;
  }
}
