.input-field {
  margin: 1rem auto;
  padding: 1rem 0;
  position: relative;
}

.form-input {
  padding: 1rem;
  border-radius: 5px;
  appearance: none;
  border: 1px solid #ccc;
}

.form-label {
  text-align: center;
  color: #FF6B7A;
}

.input-field {
  button {
    -webkit-appearance: none;
    background: none;
  }
}

.submit {
  display: inline-block;
  width: 49%;
  background: #00bfa5;
  appearance: none;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 1rem 0;
}

.reset {
  @extend .submit;
  background: #FF6B7A;
}

.errMsg {
  position: absolute;
  background: color(#000 a(70%));
  color: #fff;
  padding: 1rem;
  left: 12rem;
  border-radius: 1rem;
  top: -4rem;
}
