<% include common/_header %>
<% include common/_nav %>

<main class="ModalTest">
  <section class="modal-title">モーダルです</section>
  <section class="modal-main">ここにテキストが入ります。</section>
  <section class="modal-check">
    <buttom class="ok">はい</buttom>
    <buttom class="ng">いいえ</buttom>
  </section>
</main>

<% include common/_footer %>
